beautifulsoup4==4.9.3
firebase_admin==6.1.0
matplotlib==3.7.0
nltk==3.8.1
numpy==1.24.2
openai==0.27.2
opencv_python==4.7.0.72
pandas==1.5.3
Pillow==9.5.0
PyPDF2==3.0.1
Requests==2.28.2
snscrape==0.6.2.20230320
streamlit==1.21.0
streamlit_lottie==0.0.3
streamlit_on_Hover_tabs==1.0.1
stripe==5.4.0
validate_email==1.3
